@media (max-width: 1785px) and (min-width: 1464px) {

    .video {
        width: calc(20% - 10px);
        margin-right: 10px;
        cursor: pointer;
        margin-bottom: 35px;
        }
    
    }

@media (max-width: 1464px) and (min-width: 684px) {

.video {
    width: calc(25% - 12px);
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 35px;
    }

}

